*, *::after, *::before{
  box-sizing: border-box;
}

.grid{
	display:flex;
	flex-wrap:wrap;
}

.grid-col-1of3{
  flex-grow: 1;
  flex-basis: 100%;
}

.grid-col-1of2{
  flex-grow: 1;
  flex-basis: 100%;
}

.grid-col-2of2{
  flex-grow: 1;
  flex-basis: 100%;
}

.container .block{
	height: 200px;
	border: 1px solid black;
}

.sgrid-col-1of3{
	flex-grow: 1;
	flex-basis: 33.3333%;
 }

 .sgrid-col-1of2{
 	flex-grow: 1;
 	flex-basis: 30%;
 }

 .sgrid-col-2of2{
 	flex-grow: 1;
 	flex-basis: 70%;
 }

.container .block:nth-of-type(even) {
  background-color: white;
}

.container .block:nth-of-type(odd) {
  background-color: white;
}

@media(min-width: 60em) {
  .grid-col-1of3{
  	flex-basis: 33.3333%;
  }

  .sgrid-col-1of2{
  	flex-basis: 30%;
  }

  .sgrid-col-2of2{
  	flex-basis: 70%;
  }
}
