*, *::after, *::before{
  box-sizing: border-box;
}

.product-grid{
	display:flex;
	flex-wrap:wrap;
  margin-top: 10rem;
}

.grid{
  display:flex;
  flex-wrap:wrap;
}

.grid-col-1of3{
  flex-grow: 1;
  flex-basis: 100%;
}

.grid-col-1of2{
  flex-grow: 1;
  flex-basis: 100%;
}

.grid-col-2of2{
  flex-grow: 1;
  flex-basis: 100%;
}

.grid-col-2of4{
  flex-grow: 1;
  flex-basis: 100%;
}

@media(min-width: 60em) {
  .grid-col-1of3{
  	flex-basis:33.333%;
  }

  .grid-col-1of2{
    flex-basis: 30%;
  }

  .grid-col-2of2{
    flex-basis: 70%;
  }
}
