/*
  STYLE GUIDE STYLING
  all code referenced from Paul Brokenshire IAT 339 Lecture Tutorials and Lab Files
*/
body {
  font-family: sans-serif;
  /*padding: 2rem 3em;*/
  padding: 1em 5em;
  margin-top: 0em;
}

section:not([id]) {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h4 {
  margin-bottom: 0.5em;
}

section p {
  margin-top: 0;
  color: gray;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display:inline-block;
  color: gray;
}

/* referenced from https://www.w3schools.com/css/css_rwd_videos.asp */
video{
  max-width:100%;
  height:auto;
}

#home_video{
  position: relative;
  z-index: -1;
}

img {
  max-width:100%;
  height:auto;
}

.top-nav{
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  padding: 1em 0.75em;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  font-weight: bold;
}

.button-intext {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  font-size: 16px;
  text-decoration: underline;
}

.button-intext:hover, .button-intext:focus {
  color: black;
  text-decoration: none;
}

.button-submit {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: black;
  display: inline-block;
  padding: 0.5em 2em;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.button-submit:hover, .button-submit:focus {
  background-color: black;
  color: white;
}

.filter{
  margin-top: 10em;
}

.container-homepage{
  position: absolute;
  top: 20rem;
  left: 10rem;
}

.div_home_video{
  background-color: rgb(0,0,0,.3);
}

.home-white{
  color:white;
}

input{
  border:none;
  border-bottom: 1px solid black;
}

/*
  TEXT ELEMENTS -------------------
*/

h1{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 45px;
  margin-top: 0;
}
.h1-product{
  margin-bottom: 0;
}

.h3-product{
  margin-bottom: 10px;
}

h2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

h3{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.h3-centered{
  text-align: center;
  vertical-align: middle;
}

h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

p{
  font-family: 'Nunito Sans', sans-serif;
  font-size:14px;
  color: black;
}

.logofont{
  font-size: 24px;
  font-weight: bold;
}

ul{
  font-family: 'Nunito Sans', sans-serif;
  font-size:10px;
  color: black;
}

ol{
  font-family: 'Nunito Sans', sans-serif;
  font-size:12px;
  color: black;
}

.a-product{
  color: black;
  text-decoration: none;
}



/*
  COMBINED ELEMENTS -------------------
*/

#ul-nav-rightbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ul-nav-leftbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ul-nav-leftbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right:5px;
  top:0;
}

.li-nav{
  display:inline;
}

.product-description{
  position: relative;
  bottom: 0;
}
